body {
  border: 0;
  font: inherit;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button {
  height: 30px;
  width: 80px;
}

header {
  align-items: center;
  background-color: #001633;
  color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 30px;
}

header h1 , h2 {
  font-size: 1em;
}

input {
  border: none;
}

li {
  list-style-type: none;
  padding: 3px 0;
}

ul {
  padding: 0;
}

.grid-container {
  display: grid;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: 'grid-person grid-person grid-message grid-message grid-message'
    'grid-online grid-online grid-message grid-message grid-message'
    'grid-online grid-online grid-message grid-message grid-message'
    'grid-online grid-online grid-message grid-message grid-message'
    'grid-online grid-online grid-message grid-message grid-message'
    'grid-online grid-online grid-message grid-message grid-message'
    'grid-send grid-send grid-send grid-send grid-send';
  margin-top: 10px;
}

.grid-message {
  border: 2px solid rgba(0, 128, 128, 0.8);
  grid-area: grid-message;
  height: 500px;
  overflow-y: scroll;
  padding: 20px;
}

.grid-online {
  border: 2px solid rgba(230, 25, 75, 0.8);
  grid-area: grid-online;
  padding: 20px;
}

.grid-online li {
  color: green;
  font-weight: 700;
  padding: 5px 0;
}

.grid-person {
  align-items: center;
  border: 2px solid rgba(60, 180, 75, 0.8);
  display: flex;
  grid-area: grid-person;
}

.grid-person button {
  background-color: rgba(60, 180, 75, 0.8);
  color: white;
}

.grid-person input {
  height: 24px;
  width: 100%;
}

.grid-send {
  align-items: center;
  border: 2px solid rgba(245, 130, 48, 0.8);
  display: flex;
  grid-area: grid-send;
}

.grid-send button {
  background-color: rgba(245, 130, 48, 0.8);
  color: white;
}

.grid-send input {
  height: 24px;
  width: 100%;
}

.section-title {
  font-size: 1.5em;
  font-weight: 700;
}
