/* Reset start */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset end */

.grid-container {
  display: grid;
  /* border: 2px solid black; */
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid-person grid-person grid-message grid-message grid-message"
    "grid-online grid-online grid-message grid-message grid-message"
    "grid-online grid-online grid-message grid-message grid-message"
    "grid-online grid-online grid-message grid-message grid-message"
    "grid-online grid-online grid-message grid-message grid-message"
    "grid-online grid-online grid-message grid-message grid-message"
    "grid-send grid-send grid-send grid-send grid-send";
}

button {
  width: 80px;
  height: 30px;
}

input {
  border: none;
}

li {
  list-style-type: none;
  padding: 3px 0;
}

.section-title {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.grid-person {
  display: flex;
  grid-area: grid-person;
  border: 2px solid rgba(60, 180, 75, 0.8);
  align-items: center;
}

.grid-person input {
  width: 100%;
  height: 24px;
}

.grid-person button {
  background-color: rgba(60, 180, 75, 0.8);
  color: white;
}

.grid-online {
  grid-area: grid-online;
  border: 2px solid rgba(230, 25, 75, 0.8);
  padding: 20px;
}

.grid-online li {
  font-weight: 700;
  color: green;
  padding: 5px 0;
}

.grid-message {
  grid-area: grid-message;
  border: 2px solid rgba(0, 128, 128, 0.8);
  height: 500px;
  padding: 20px;
}

.grid-send {
  display: flex;
  grid-area: grid-send;
  border: 2px solid rgba(245, 130, 48, 0.8);
  align-items: center;
}

.grid-send button {
  background-color: rgba(245, 130, 48, 0.8);
  color: white;
}

.grid-send input {
  width: 100%;
  height: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #001633;
  color: white;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  height: 40px;
}

header h1, h2 {
  font-size: 1em;
}
