<!-- Designe e dicas https://www.youtube.com/watch?v=jD7FnbI76Hg&ab_channel=TraversyMedia -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>WeChat - Connecting the world</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <div class="form-container">
        <form id="chat-form" class="form-group">
          <div class="form-row input-group mb-3">
            <div class="input-group mb-3">
              <input
                required
                type="text"
                name="nick"
                id="nick"
                class="form-control col-sm-9"
                data-testid="nickname-box"
                placeholder="Insert your nickname"
              >
              <div class="input-group-append">
                <button
                  id="nick-btn"
                  class="btn btn-primary"
                  data-testid="nickname-button"
                >
                  <i class="fas fa-save"> </i> Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <h1><i class="far fa-comments fa-2x"> </i> WeChat</h1>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar row">
        <h3 class="cow"><i class="fas fa-users"></i> Users</h3>
        <ul id="users" class="col"></ul>
      </div>
      <div class="chat-messages">
        <% allMessages.map((message) => { %>
					<div class="message">
            <img class="avatar" src="https://i.pravatar.cc/50"/>
            <p class="meta" data-testid="message">
              <%= `${message.timestamp} - ${message.nickname}: ${message.message}` %>
            </p>
          </div>
        <% }) %>
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="message"
          type="text"
          name="message"
          required
          autocomplete="off"
          data-testid="message-box"
          placeholder="Enter your message here"
        />
        <button
          data-testid="send-button"
          class="btn btn-primary"
          id="send-burtton"
        >
          <i class="fas fa-paper-plane"></i> Send
        </button>
      </form>
    </div>
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
    crossorigin="anonymous"
  >
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/client.js"></script>
</body>
</html>