<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/chat.css">
</head>
<body>
  <main>
    <ul class="messages"></ul>
    <input class="message-box" data-testid="message-box" name="message" type="text" placeholder="message" />
    <button class="send-button" data-testid="send-button">Send</button>
  </main>
  <aside>
    <input class="nickname-box" data-testid="nickname-box" name="nickname" type="text" placeholder="nickname" />
    <button class="nickname-button" data-testid="nickname-button">Change Username</button>
    <ul class="users"></ul>
  </aside>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./js/chat.js'></script>
</body>
</html>