<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Trybe</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      form {
        background: black;
        bottom: 0;
        padding: 3px;
        position: fixed;
        width: 100%;
      }

      #chat {
        margin-left: 400px;
      }
   </style>
  </head>
  <body>
    <h1>Chat Trybe</h1> 
    <input type="text" placeholder="Insira seu nickname" id="nickname" data-testid="nickname-box"/>
    <button data-testid="nickname-button">Salvar</button>
    <ul id="user"></ul>
    <ul id="chat"></ul>
    <form action="" id="form2">
        <input type="text" placeholder="Digite uma nova mensagem" id="mensagem" data-testid="message-box">
        <button data-testid="send-button">Enviar</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
