<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebChat</title>
  </head>

  <body>
    <div>
      <ul id="chat"></ul>
      <input id="message" type="text" placeholder="mensagem" />
      <input type="text" id="nickname" placeholder="nickname">
      <button type="button" id="button">Enviar</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
  </body>

</html>
