<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>

  <body>
    <header>
      <h1>
        <%= subtitle %>
      </h1>
    </header>
    <form class="form-nickname" id="form_nickname">
      <input type="text" name="nickname" id="nickname" placeholder="Insira seu nickname" data-testid="nickname-box" />
      <button type="submit" id="btn_nickname" data-testid="nickname-button">Salvar</button>
    </form>
    <section class="chat">
      <div class="list-users">
        <ul id="list_users">
        <% usersOn.forEach((element)=> { %> <li data-testid="online-user">
            <%= `${element.nickname}` %>
            </li>
        <% }) %>
        </ul>
      </div>
      <div class="messages" id="chat_message">
        <% messageChanel.forEach((element)=> { %> <p data-testid="message">
            <%= ` ${element.timestamp} - ${element.nickname}: ${element.message}` %>
            </p>
        <% }) %>
      </div>
    </section>
    <form class="form-send" id="form_send">
      <input type="text" name="message" id="message" placeholder="Digite uma nova mensagem aqui" autocomplete="off"
        data-testid="message-box" />
      <button type="submit" data-testid="send-button">Enviar</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</html>
