<!DOCTYPE html>
<html>

  <head>
    <title>Webchat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body class="bg-info">
    <h1 class="d-flex justify-content-center">Webchat</h1>
    <div class="d-flex justify-content-around">
      <div class="mw-50">
        <div class="d-flex justify-content-center row g-2">
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              id="nickName"
              placeholder="Insira seu nickName"
              data-testid="nickname-box"
            />
          </div>
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-success mb-2"
              id="saveNickName"
              data-testid="nickname-button"
            >
              Salvar
            </button>
          </div>
        </div>
        <h3>Usuários</h3>
        <ul class="list-users" id="master"></ul>
        <ul class="list-users" id="listUsers"></ul>
      </div>
      <div class="mw-50">
        <h3>Menssagens</h3>

            <div id="messageAdd">
              <% messages.forEach((element)=> { %> <p data-testid="message" class="form-control">
                  <%= ` ${element.timestamp} ${element.nickname} ${element.message}` %>
                </p>
                <% }) %>
            </div>

      </div>
    </div>
    <form
      class="d-flex justify-content-center row g-2 fixed-bottom"
    >
      <label for="messages" class="visually-hidden">Mensagem</label>
      <input
        type="text"
        class="form-control w-50 p-3 mb-2"
        id="message-box"
        placeholder="Digite sua mensagem"
        data-testid="message-box"
        name="chatMessage"
      />
      <button
        type="button"
        class="btn btn-primary mb-2 ml-2 mr-2 w-25"
        data-testid="send-button"
        id="send-button"
      >
        Enviar
      </button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="./client.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  </body>
</html>