<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto WebChat - Trybe</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header class="header"><h2>Projeto WebChat - Trybe</h2></header>
    <div class="container">
      <div class="container-one">
        <section class="nickname">
          <input
            type="text"
            class="nickBox"
            placeholder="Insira seu nickname"
            data-testid="nickname-box"
          />
          <button
            type="button"
            class="nickButton"
            data-testid="nickname-button"
          >
            Salvar
          </button>
        </section>
        <section class="user">
          <h3>Usuários</h3>
          <ul class="usersOn"></ul>
        </section>
      </div>
      <div class="container-two">
        <section class="chat">
          <h2>Mensagens</h2>
          <ul class="messageHistory">
            <% messages.forEach(( post ) => { %>
            <li data-testid="message">
              <%= post.timestamp %> - <%= post.nickname %>: <%= post.message %>
            </li>
            <% }) %>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer">
      <section class="newMessage">
        <input
          type="text"
          class="msgBox"
          placeholder="Digite uma nova mensagem aqui"
          data-testid="message-box"
        />
        <button type="button" class="sendButton" data-testid="send-button">
          Enviar
        </button>
      </section>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</html>