<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <form id="nickname-form">
      <input data-testid="nickname-box" type="text" id="nick-input">
      <button data-testid="nickname-button" type="button" id="nick-button">Atualizar Nickname</button>
    </form>
    <div>
      <ul id="chat-box"></ul>
    </div>
    <div>
      <p> Online agora: </p>
      <ul id="users-list"></ul>
    </div>
    <form id="message-form">
      <input data-testid="message-box" type="text" id="message-input">
      <button data-testid="send-button" type="button" id="send-button">Enviar</button>
    </form>
    <script>
      const sendButton = document.querySelector('#send-button');
      const nickButton = document.querySelector('#nick-button');
      const messageInput = document.querySelector('#message-input');
      const customNick = document.querySelector('#nick-input');
      const usersUl = document.querySelector('#users-list');
      const messagesUl = document.querySelector('#chat-box');
      let currentNickname = ''
      
      const generateNickname = (length) => {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        for (let i = 0; i < length; i += 1) {
          result += characters.charAt(Math.floor(Math.random() 
          * charactersLength));
        }
        return result;
      };
      // fonte: https://www.ti-enxame.com/pt/javascript/gere-stringcaracteres-aleatorios-em-javascript/967048592/

      currentNickname = generateNickname(16);

      const socket = window.io('http://localhost:3000/', {
        query: {
          nickname: currentNickname,
        },
      });

      const newUser = (user) => {
        const li = document.createElement('li');
        li.innerText = user;
        li.dataset.testid = 'online-user';
        usersUl.appendChild(li);
      }

      const createMessage = (message) => {
        const li = document.createElement('li');
        li.dataset.testid = 'message';
        li.innerText = message;
        messagesUl.appendChild(li);
      };

      sendButton.addEventListener('click', () => {
        socket.emit('message', {
          nickname: currentNickname,
          chatMessage: messageInput.value,
        });
        currentNickname = '';
        messageInput.value = '';
        return false;
      });

      nickButton.addEventListener('click', () => {
        currentNickname = customNick.value;
        socket.emit('newNickname', currentNickname);
        customNick.value = '';
        return false;
      });

      newUser(currentNickname);

      socket.on('message', (message) => {
        createMessage(message);
      });
      socket.on('currentUsers', (currentUsers) => {
        usersUl.innerHTML = '';
        newUser(currentNickname);
        currentUsers.forEach((user) => {
          if (user !== currentNickname) newUser(user);
        });
      });
      socket.on('chatHistory', (chatHistory) => chatHistory.forEach((message) => createMessage(message)));
    </script>
  </body>
</html>
