<!doctype html>
<html>
  <head>
    <title>Web Chat</title>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <ul id="messages">
      <% messages.forEach((message) => { %>
        <li data-testid=message><%= message.timestamp  %> - <%= message.nickname  %>: <%= message.message  %></li>
      <% }) %>
    </ul>
    <>
    --------------------------------------------
    </>
    <form id="formMessage" action="">
      <input id="chatMessage" autocomplete="off" data-testid="message-box" /><button data-testid="send-button">Envia</button>
    </form>
    
    <>
    --------------------------------------------
    </>
    <ul id="onlineList"></ul>
    

    <form id="formNick" action="">
        <input id="nickname" autocomplete="off" data-testid="nickname-box" /><button data-testid="nickname-button">Mudar</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      // https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript
      const socket = io();
      const messages = document.getElementById('messages');
      const formMessage = document.getElementById('formMessage');
      const formNick = document.getElementById('formNick');
      const chatMessage = document.getElementById('chatMessage');
      const nickname = document.getElementById('nickname');
      const onlineUser= document.getElementById('onlineUser');
      const onlineList= document.getElementById('onlineList');
      let message={};
      function makeid(length) {
        let result           = '';
        const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * 
          charactersLength));
        }
        return result;
      }
      const nickSave= localStorage.getItem('userName');
      let userName = makeid(16);
      console.log(userName);
     // if(nickSave){
      //  userName = nickSave;
      // }
      console.log(userName);
      socket.emit('nickname add', userName);


        formNick.addEventListener('submit', function(e)  {
          e.preventDefault();
          if (nickname.value) {
            userName=nickname.value;
            localStorage.setItem('userName',userName)
            message.nickname=userName;
            console.log('nick ',message)
            socket.emit('nickname change', userName);
        }
        });

        formMessage.addEventListener('submit', function(e) {
        e.preventDefault();
        if (chatMessage.value) {
            message.nickname=userName;
            message.chatMessage= chatMessage.value
            console.log('chat ',message)
            socket.emit('message', message);
            chatMessage.value = '';
        }
        });

        socket.on('message', function(message) {
          const item = document.createElement('li');
          item.textContent = message;
          messages.appendChild(item);
          item.setAttribute('data-testid','message');
          window.scrollTo(0, document.body.scrollHeight);
        });

        socket.on('nickname', function(nickList) {
          console.log("nickList",nickList)
          while (onlineList.firstChild) {
            onlineList.removeChild(onlineList.firstChild);
          }
          const item = document.createElement('li');
          item.textContent = userName;
          onlineList.appendChild(item);
          item.setAttribute('data-testid','online-user');
          window.scrollTo(0, document.body.scrollHeight);
          nickList.forEach((name)=>{
            if(name.id!==socket.id){
              console.log('está aqui o erro' ,name.id, socket.id,name.id!==socket.id)
              const position = document.createElement('li');
              position.textContent = name.nickname;
              onlineList.appendChild(position);
              position.setAttribute('data-testid','online-user');
              window.scrollTo(0, document.body.scrollHeight);
            }
          })
        });


    </script>
  </body>
</html>