<!DOCTYPE html>
<html>

<head>
  <title>What's Up Dude!</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <header>
    <h1>What's Up!</h1>
  </header>
  <div id="user-wrapper">
    <span>
      <ul id="users"></ul>
    </span>
    <span>
      <input data-testid="nickname-box" id="nickname-box" class="nickname-box" autocomplete="off" placeholder="Insert your Nickname" />
      <button data-testid="nickname-button" id="nickname-button" class="nickname-button">Create</button>
    </span>
  </div>
  <div class="historico">
    <ul id="mensagens">
      <% messages.forEach((message)=> { %>
        <li data-testid="message">
          <%= message.timestamp %> - <%= message.nickname %>: <%= message.message %>
        </li>
        <% }) %>
    </ul>
  </div>
  <form action="">
    <input data-testid="message-box" id="message-box" class="msn-box" autocomplete="off" placeholder="Insert your message" />
    <button data-testid="send-button" id="send-button" class="send">Send</button>
  </form>
  <script>
    const socket = io();
    const form = document.querySelector('form');
    const inputMessage = document.querySelector('#message-box');
    const generateNick = (length) => {
      let letras = 'abcdefghiklmnopqrstuvwxyz';
      let aleatorio = '';
      for (let i = 0; i < length; i++) {
        let rnum = Math.floor(Math.random() * letras.length);
        aleatorio += letras.substring(rnum, rnum + 1);
      }
      return aleatorio;
    };
    const listUser = (nicks) => {
      const usersUl = document.querySelector('#users');
      usersUl.innerText = "";
      nicks.forEach(nick => {
        const usersLi = document.createElement('li');
        usersLi.setAttribute('data-testid', 'online-user');
        usersLi.innerText = nick;
        usersUl.appendChild(usersLi);
      });
    };
    let nickname = generateNick(16);
    socket.emit('user', nickname);
    socket.on('user', (nicks) => listUser(nicks));
    const nickButton = document.querySelector('#nickname-button');
    const nickBox = document.querySelector('#nickname-box');
    nickButton.addEventListener('click', (e) => {
      socket.emit('changeUser', nickBox.value);
      nickname = nickBox.value;
      nickBox.value = '';
    });
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const user = document.querySelector('#usuario');
      socket.emit('message', { chatMessage: inputMessage.value, nickname });
      inputMessage.value = ''
      return false;
    });
    const createMessage = (message) => {
      const messagesUl = document.querySelector('#mensagens');
      const li = document.createElement('li');
      li.innerText = message;
      li.setAttribute('data-testid', 'message');
      messagesUl.appendChild(li);
    };
    socket.on('message', (mensagem) => createMessage(mensagem));
  </script>
</body>

</html>