<!doctype html>
<html>

  <head>
    <title>Projeto - WebChat</title>
    <style>
      .container {
        display: flex;
      }

      .column {
        flex-direction: column;
        width: 400px;
      }

      .box {
        border: 1px solid black;
        width: 100%;
      }

      .chat,
      .onlineusers {
        overflow: scroll;
        height: 500px;
      }

    </style>
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js "></script>
    <script>
      window.onload = function () {
        const socket = io();
        const list = document.querySelector('#user-list');
        const messages = document.querySelector('#message-list');

        const createList = (userList) => {
          userList.forEach((user) => {
            const li = document.createElement('li');
            li.innerText = user;
            li.dataset.testid = 'online-user';
            list.appendChild(li);
          });
        }

        const removeUser = (user) => {
          const allUsers = Array.from(list.querySelectorAll('li'));
          for (let i = 0; i < allUsers.length; i++) {
            if (allUsers[i].innerText === user) {
              console.log(user, i);
              console.log(allUsers);
              console.log(list.childNodes);
              list.removeChild(allUsers[i]);
            }
          }
        }

        const updateUser = (data) => {
          const allUsers = Array.from(list.querySelectorAll('li'));
          for (let i = 0; i < allUsers.length; i++) {
            if (allUsers[i].innerText === data.oldName) {
              allUsers[i].innerText = data.name;
            }
          }
        }

        const nameBtn = document.querySelector('#submitName');
        nameBtn.addEventListener('click', (e) => {
          e.preventDefault();
          const input = document.querySelector('#nameText');
          socket.emit('change-name', input.value);
        });
        const messageBtn = document.querySelector('#submitMessage');
        messageBtn.addEventListener('click', (e) => {
          e.preventDefault();
          const { value } = document.querySelector('#messageText');
          const nickname = list.firstElementChild.innerText;
          socket.emit('message', { chatMessage: value, nickname });
        });

        const createMessage = (message) => {
          const li = document.createElement('li');
          li.innerText = message;
          li.dataset.testid = 'message';
          messages.appendChild(li);
        }

        const displayMessage = (data) => {
          if (typeof data === 'array') {
            message.forEach((index) => {
              createMessage(index);
            })
          } else {
            createMessage(data);
          }
        }

        socket.on('message', (data) => displayMessage(data));
        socket.on('history', (data) => displayMessage(data));
        socket.on('new-user', (data) => createList(data));
        socket.on('user-left', (data) => removeUser(data));
        socket.on('change-onlineUsers', (data) => updateUser(data))
      }
      window.onbeforeunload = () => {
        socket.disconnect();
      };
    </script>
    <div class="container">
      <section class="column container">
        <div class="nickname box">
          <form action="">
            <input type="text" data-testid="nickname-box" id='nameText' />
            <button data-testid="nickname-button" id="submitName">Salvar</button>
          </form>
        </div>
        <div class="onlineusers box">
          <ul id="user-list">
          </ul>
        </div>
      </section>
      <section class="column container">
        <div class="chat box">
          <ul id="message-list">
          </ul>
        </div>
        <div class="box">
          <form action="">
            <input type="text" data-testid="message-box" id="messageText" />
            <button data-testid="send-button" id="submitMessage">Enviar</button>
          </form>
        </div>
      </section>
    </div>
  </body>

</html>
