html , body {
  font-family: Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(48, 47, 49);
  color: rgb(42, 230, 220);
  padding: 10px;
}

form {
  margin: 15px 0;
}

form input [ type = 'text' ] {
  border: 2px solid rgb(69, 197, 191);
  border-radius: 5px;
  padding: 5px;
  width: 75%;
}

form input [ type = 'submit' ] {
  background: rgb(69, 197, 191);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 7px 5px;
  width: 19%;
}

.historico {
  background: white;
  border: 2px solid rgb(69, 197, 191);
  height: 550px;
  margin-top: 10px;
}

.nickname-box {
  background: white;
  border: 2px solid rgb(69, 197, 191);
}

.nickname-button {
  background: rgb(69, 197, 191);
  border-radius: 10%;
  color: white;
}

.msn-box {
  background: white;
  border: 2px solid rgb(69, 197, 191);
  height: 22px;
  width: 95%;
}

.send {
  background: rgb(69, 197, 191);
  border-radius: 10%;
  color: white;
  padding: 5px 10px;
}
