<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webchat</title>
    <link rel="stylesheet" href="/public/css/webchat.css">
  </head>
  <body>
    <form id="nickname-form" class="nickname-form">
      <input
        type="text"
        id="nickname-text"
        placeholder="Insira seu nickname"
        data-testid="nickname-box"
      />
      <button id="nickname-btn" data-testid="nickname-button">Salvar</button>
    </form>

    <section class="usuarios-logados">
      <p>Usuários logados:</p>
      <ul id="users"><ul>
    </section>

    <ul id="messages"></ul>
    <!-- cada li tem que ter data-testid="message" -->
    <form id="form-msg" action="">
      <input
        type="text"
        id="message-input"
        autocomplete="off"
        placeholder="Digite uma nova mensagem aqui"
        data-testid="message-box"
      />
      <button id="send-btn" data-testid="send-button">Enviar</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='/js/webchat.js'></script>
</html>
