* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(black, rgb(10, 10, 10));
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

main {
  display: flex;
  height: 90%;
}

li {
  list-style: none;
}

.left-content , .right-content {
  border: solid 1px rgb(39, 39, 39);
  padding: 20px;
}

.left-content {
  background-color: rgb(39, 39, 39);
  border-radius: 20px 0 0 20px;
  margin-left: 20px;
  width: 35%;
}

.left-content .nickname {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px;
  width: 100%;
}

.nickname-label {
  align-items: center;
  box-sizing: border-box;
  color: #616161;
  cursor: text;
  display: flex;
  font-size: 1rem;
  left: 0;
  margin: 20px 0 40px;
  right: 0;
  top: 0;
  transition: 0.2s ease-in-out;
}

.left-content .btn-save-nick {
  background-color: teal;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  font-weight: 600;
  height: 26px;
  padding: 5px;
  width: 25%;
}

.right-content {
  background: linear-gradient(blue, black);
  border-radius: 0 20px 20px 0;
  margin-right: 20px;
  width: 65%;
}

.right-content .web-chat {
  background-color: rgb(209, 209, 209);
  border: 10px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding: 20px;
}

.right-content .write-message {
  padding: 5px;
  resize: none;
  width: 80%;
}

.right-content .send-message-btn {
  background-color: teal;
  border: 0;
  border-radius: 0 0 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  transition: 0.5s;
  width: 20%;
}

.right-content .send-message-btn:hover {
  filter: brightness(1.2);
  font-weight: 700;
}

p:hover , li:hover {
  filter: brightness(0.9);
}

.right-content .send-container {
  display: flex;
  justify-content: space-between;
}

.right-content .web-chat .message {
  background-color: white;
  border-radius: 0 10px 10px;
  box-shadow: 3px 3px 5px rgb(167, 167, 167);
  color: black;
  margin: 10px 5px;
  padding: 5px 10px;
  width: 70%;
}

.right-content .web-chat .message.right {
  align-self: flex-end;
  background-color: rgb(39, 39, 39);
  border-radius: 10px 0 10px 10px;
  color: white;
}

.right-content .web-chat .message .message-nickname {
  font-weight: 700;
  margin: 5px 0;
}

.right-content .web-chat .message .message-timestamp {
  color: rgb(160, 160, 160);
  text-align: end;
}

.right-content .web-chat .users-status-message {
  background: none;
  color: rgb(138, 138, 138);
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.username {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.username:before {
  background-color: green;
  border-radius: 50%;
  color: green;
  content: '';
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}

.menu-icon {
  display: none;
}

.toogle {
  display: none;
}

@media screen and ( max-width : 800px ) {

  body {
    font-size: 15px;
  }

  main {
    height: 100%;
    position: relative;
  }

  .left-content {
    border-radius: 0;
    display: none;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 50%;
  }

  .nickname-label {
    margin: 50px 0 25px;
  }

  .right-content {
    border-radius: 0;
    margin: 0;
    padding-left: 30px;
    padding-top: 50px;
    width: 100%;
  }

  .menu-icon {
    color: white;
    display: initial;
    font-size: 25px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .toogle:checked + main .left-content {
    display: initial;
  }

}

@media screen and ( max-width : 450px ) {

  .right-content {
    padding: 50px 1px 1px;
  }

  .left-content {
    width: 100%;
  }

  .right-content .web-chat {
    margin: 0;
    padding: 5px;
  }

  .right-content .web-chat .message {
    width: 80%;
  }
}
