.message-box {
  border: 1px solid black;
  height: 500px;
  margin-left: 25px;
  width: 70%;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages li {
  padding: 5px 10px;
}

.messages li:nth-child( odd ) {
  background: #eee;
}

form {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.messageInput {
  margin-right: 0.5%;
  padding: 10px;
  width: 70%;
}

.nickNameInput {
  margin-right: 0.5%;
  padding: 10px;
  width: 30%;
}

.buttonSave {
  margin-right: 0.5%;
}

.box {
  display: flex;
}

.online-user {
  border: 1px solid black;
  height: 500px;
  margin-right: 30px;
  width: 30%;
}
