* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  height: 10%;
}

main {
  display: flex;
  height: 80%;
}

li {
  list-style: none;
}

.left-content , .right-content {
  border: solid 1px rgb(39, 39, 39);
  padding: 20px;
}

.left-content {
  background-color: rgb(39, 39, 39);
  border-radius: 20px 0 0 20px;
  margin-left: 20px;
  width: 35%;
}

.left-content .nickname {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
  width: 79%;
}

.left-content .btn-save-nick {
  padding: 5px;
  width: 19%;
}

.right-content {
  border-radius: 0 20px 20px 0;
  margin-right: 20px;
  width: 65%;
}

.right-content .web-chat {
  background-color: rgb(209, 209, 209);
  border: 10px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding: 20px;
}

.right-content .write-message {
  padding: 5px;
  resize: none;
  width: 88%;
}

.right-content .send-message-btn {
  border: none;
  padding: 5px;
  width: 11%;
}

.right-content .send-container {
  display: flex;
  justify-content: space-between;
}

.right-content .web-chat .message {
  background-color: white;
  border-radius: 0 10px 10px;
  box-shadow: 3px 3px 5px rgb(167, 167, 167);
  color: black;
  margin: 10px 5px;
  padding: 5px 10px;
  width: 70%;
}

.right-content .web-chat .message.right {
  align-self: flex-end;
  background-color: rgb(39, 39, 39);
  border-radius: 10px 0 10px 10px;
  color: white;
}

.right-content .web-chat .message .message-nickname {
  font-weight: 700;
  margin: 5px 0;
}

.right-content .web-chat .message .message-timestamp {
  color: rgb(160, 160, 160);
  text-align: end;
}

.right-content .web-chat .users-status-message {
  background: none;
  color: rgb(138, 138, 138);
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.username {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.username:before {
  background-color: green;
  border-radius: 50%;
  color: green;
  content: '';
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}
